body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffeeff;
  color: #999;
  text-shadow: 1px 1px black;
}
.butts{
  background-color: green;
}

.header{
  text-align: center;
}

.footer-nav a{
margin-left: 50px;
}

.to-do-container{
  min-height: 200px;
}
