body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffeeff;
  color: #999;
  text-shadow: 1px 1px black;
}
.butts{
  background-color: green;
}

.header{
  text-align: center;
}
.to-do{
  height: 10vh;
  color:white;
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
}
.to-do.strike{
text-decoration: line-through;
border: 1px solid green;

}
.footer-nav a{
margin-left: 50px;
}

.to-do-container{
  min-height: 200px;
}
